# Ignore VS Code folders and files
.vscode/
**/__pycache__/

# Ignore .csv, .log, and .config files
*.csv
*.log
*.yml
*.ipynb
.ipynb_checkpoints/setup-checkpoint.bash
.ipynb_checkpoints/site_watch-checkpoint.ipynb
.ipynb_checkpoints/sitewatch-checkpoint
.gitignore
